{% from "study_card_macro.html" import study_card %}
{% extends 'base.html' %}
{% block content %}

<h2>Deck Details</h2>
<h3> Deck Name </h3>
<p> {{ deck.name}}</p>
<a href="/decks/{{ deck.id }}/cards">See all cards</a>
<form action="/decks/{{ deck.id }}/reset" method="POST">
  <button name="reset" value="reset">Reset study history for this deck</button>
</form>
<h3> Study Cards </h3>

{% for card in deck.cards %}
  {% if card.id not in studied_cards %}
    {{ study_card(card, forms[card.id|string]) }}
  {% endif %}
{% endfor %}

{% endblock %}
